* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: white;
    min-height: 100vh;
}

/* Header */
header {
    background: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #00ff88;
}

header h1 {
    color: #00ff88;
    letter-spacing: 3px;
}

/* Навігація */
nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    background: #111;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00ff88;
}

/* Секція */
.hero {
    text-align: center;
    padding: 40px 20px;
}

.hero h2 {
    margin-bottom: 25px;
    color: #00ff88;
}

/* Google форма */
iframe {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,255,136,0.4);
}

/* Успішний екран */
#successScreen {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #00ff88;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.success-btn:hover {
    background: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #000;
    margin-top: 40px;
    border-top: 2px solid #00ff88;
}
.google-form {
    width: 100%;
    max-width: 700px;
    height: 900px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,255,136,0.4);

}
